@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-darklg: #1d2635;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --main-light: #eeeeee;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #667aff; 
}
* {
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.logo>h3 {
  color: var(--main-light);
}

.main {
  width: 2fr;
  overflow: hidden;
  height: 93vh;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 5px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;
}

.background__red {
  background-color: #f6484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
 
  background-color: #242f41;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
 
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container>input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}



.chat-messages { 
  overflow-y: scroll;
  height: 450px;
  scroll-padding-top: 25px;
}

.message {
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: left;

}

.message>b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message>b>i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message>span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

/* 
#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

#showChat {
  display: none;
}

.from{
  text-transform: var(--main-dark);
  text-decoration:underline ;
 font-style: italic;
 font-size: smaller;
}
.textmsg {
  background-color: #2f80ec;
  border-radius: 30px 30px  30px 0 ;
  padding: 10px;
  max-width:500px;
  text-align: left;
  margin: 5px;
 
}
.right{
  text-align: right;
  background-color: #2f80ec;
  border-radius: 30px 30px 0 30px ;
  padding: 10px;
  max-width:500px;
 
  margin: 5px;
}
.text{
 /* max-width: 425px ; */
 align-items: center;
 overflow-wrap: break-word;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}

#toggleDropdown {
  background-color: #1d2635;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  height: 80px;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}

.formchat {
  display: flex;
  align-content: space-evenly;
  padding-bottom: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-content {

  position: absolute;
  background-color: #667aff;
  color: white;
  min-width: 80px;
  z-index: 1;
  bottom: 100%;
  /* Position the dropdown above the button */
}

.dropdown-content ul {
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  /* Remove default margin to prevent gaps */
}

.dropdown-content li {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}

/* @media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
} */